{{ form_start(form) }}
    <div>{{ form_errors(form) }}</div>
    <div>{{ form_row(form.content) }}</div>
    <div id="editor"></div>

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
