{% extends 'base.html.twig' %}

{% block title %}Edit Answer{% endblock %}

{% block body %}
    <h1>Edit Answer</h1>

    {{ include('answer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('question_show', {id: answer.getQuestion().getId() }) }}">back to question</a>

    {{ include('answer/_delete_form.html.twig') }}
{% endblock %}
