{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.login) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.token) }}

        <button class="btn">Register</button>
    {{ form_end(registrationForm) }}
    <a href="{{ path('app_login') }}">login</a>
{% endblock %}
