{% extends 'base.html.twig' %}

{% block title %}Question{% endblock %}

{% block body %}

    <div class="d-flex">
        <h3>{{ question.title }}</h3>
        <div class="ml-auto">
            <a class="btn btn-primary btn-sm" href="{{ path('question_new') }}">Ask question</a>
        </div>
    </div>

    <div class="d-flex">
        <div class="question__main" style="width: calc(100% - 200px);">
            <div class="d-flex" style="width: 100%;">
                <div>
                    <div>
                        <div>up</div>
                        <div>65536</div>
                        <div>down</div>
                    </div>
                </div>
                <div style="
                    flex: 1;
                    margin-left: 30px;
                ">
                    <div>
                        {{ question.question | quillRender | raw }}
                    </div>
                    <div class="d-flex tags">
                        <div class="">
                            <a href="#" class="btn btn-outline-secondary btn-tag">tag</a>
                        </div>
                        <div class="">
                            <a href="#" class="btn btn-outline-secondary btn-tag">egerg</a>
                        </div>
                        <div class="">
                            <a href="#" class="btn btn-outline-secondary btn-tag">ferh grerh</a>
                        </div>
                        <div class="">
                            <a href="#" class="btn btn-outline-secondary btn-tag">wfegreh</a>
                        </div>
                        <div class="">
                            <a href="#" class="btn btn-outline-secondary btn-tag">feht rgr</a>
                        </div>
                    </div>
                    <div class="d-flex" style="font-size: 12px;">
                        <div style="margin-top: 10px;">
                            <a href="{{ path('question_edit', {'id': question.id}) }}" style="margin-right: 10px;">edit</a>
                            <a href="{{ path('question_delete', {'id': question.id}) }}">delete</a>
                        </div>
                        <div class="d-inline-flex" style="margin-left: auto;">
                            <div style="margin-right: 20px;">
                                <div>edited {{ question.updated ? question.updated|date('Y-m-d H:i:s') : '' }}</div>
                                <div><a href="#">engenx</a> <b>65536</b></div>
                            </div>
                            <div>
                                <div>asked {{ question.created ? question.created|date('Y-m-d H:i:s') : '' }}</div>
                                <div><a href="#">engenx</a> <b>65536</b></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div style="
                    margin-bottom: 10px;
                    height: 40px;
                    border-bottom: 1px solid #e4e6e8;
                    border-bottom-width: 1px;
                    border-bottom-style: solid;
                    border-bottom-color: rgb(228, 230, 232);
                ">
                    <h2 style="    line-height: 1.3;
    margin: 0 0 1em;    color: #3b4045;
    font-size: 20px;    font-weight: 400;">{{ question.getAnswers() | length }} Answers</h2>
                </div>
                <div>
                    {% for answer in question.getAnswers() %}

                        <div class="d-flex" style="width: 100%;">
                            <div>
                                <div>
                                    <div>up</div>
                                    <div>65536</div>
                                    <div>down</div>
                                </div>
                            </div>
                            <div style="
                                flex: 1;
                                margin-left: 30px;
                            ">
                                <div>
                                    {{ answer.content | quillRender | raw }}
                                </div>
                                <div class="d-flex" style="font-size: 12px;">
                                    <div style="margin-top: 10px;">
                                        <a href="{{ path('answer_edit', {'id': answer.id}) }}" style="margin-right: 10px;">edit</a>
                                        <a href="{{ path('answer_delete', {'id': answer.id}) }}">delete</a>
                                    </div>
                                    <div class="d-inline-flex" style="margin-left: auto;">
                                        <div style="margin-right: 20px;">
                                            <div>edited {{ answer.updated ? answer.updated|date('Y-m-d H:i:s') : '' }}</div>
                                            <div><a href="#">{{ answer.user.login }}</a> <b>65536</b></div>
                                        </div>
                                        <div>
                                            <div>asked {{ answer.created ? answer.created|date('Y-m-d H:i:s') : '' }}</div>
                                            <div><a href="#">{{ answer.user.login }}</a> <b>65536</b></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                    {{ form_start(answerForm) }}
                    <div>{{ form_errors(answerForm) }}</div>
                    <div>{{ form_row(answerForm.content) }}</div>
                    <div style="width: 50%;margin: 100px auto;">
                        <div id="editor"></div>
                    </div>
                    <button class="btn">{{ button_label|default('Save') }}</button>
                    {{ form_end(answerForm) }}
                </div>
            </div>
        </div>
        <div class="question__sidebar--right" style="padding-left: 30px;">
            <div>
                <div>
                    <div>asked</div>
                    <div>9 years, 6 months ago</div>
                </div>
                <div>
                    <div>viewed</div>
                    <div>167,659 times</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}