        </main>
    </div>
</div>
{% block javascripts %}
    <!-- Initialize Quill editor -->
    <script>
        var toolbarOptions = [
            ['bold', 'italic', 'underline'],        // toggled buttons , 'strike'
            ['blockquote', 'code-block'],
            ['link', 'image'],

            [{ 'header': 1 }, { 'header': 2 }],               // custom button values
            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
            //[{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
            //[{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
            //[{ 'direction': 'rtl' }],                         // text direction

            //[{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
            //[{ 'header': [1, 2, 3, 4, 5, 6, false] }],

            //[{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
            //[{ 'font': [] }],
            //[{ 'align': [] }],

            ['clean']                                         // remove formatting button
        ];

        var editor = new Quill('#editor', {
            modules: { toolbar: toolbarOptions },
            theme: 'snow',
        });
        var $answerContent = $('input.js-quill-content'),
            answerContentValue = $answerContent.val();

        if(answerContentValue.length) {
            console.log(answerContentValue);
            editor.setContents(JSON.parse(answerContentValue));
        }

        $('form').on('submit', function(e) {
            $answerContent.val(JSON.stringify(editor.getContents()));
            console.log($answerContent.val());
        });
    </script>
{% endblock %}