body {
    margin-top: 100px;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    font-size: .875rem;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}
.question-counter {
    font-size: 11px;
    color: #848d95;
    width: 50px;
    display: inline-flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 15px;
}
.tags {
    margin-top: 6px;
    font-size: 12px;
}
.tags > *:not(:first-child) {
    margin-left: 10px;
}
.question-item__common {
    margin-left: 15px;
}

.question-counter__count {
    font-size: 17px;
}
.question-item__info {
    font-size: 12px;
}
.question-item {
    padding: 12px 8px;
    border-bottom: 1px solid #eff0f1;
}
.btn-tag {
    padding: .18rem .34rem;
    font-size: 12px;
    line-height: 1.5;
    border-radius: .2rem;
}
.question__main {
    background: #eee;
}
.question__sidebar--right {
    flex: 0 0 250px;
    background: #aaa;
}
.question__main code {
    background: black;
    color: white;
    display: inline-block;
}