{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; position: relative;}
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="d-flex">
    <h1>Last questions</h1>
    <div class="ml-auto">
        <a class="btn btn-primary btn-sm" href="{{ path('question_new') }}">Ask question</a>
    </div>
</div>

<div class="d-flex" style="justify-content: flex-end;">
    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
        <button type="button" class="btn active btn-outline-secondary">Last</button>
        <button type="button" class="btn btn-outline-secondary">Not answered</button>
        <button type="button" class="btn btn-outline-secondary">Hot</button>
    </div>
</div>


    <div class="example-wrapper">
    {% for key, question in questions %}

        <div class="question-item d-flex">
            <div class="d-inline-flex align-items-start">
                <div class="question-counter">
                    <div class="question-counter__count">
                        100
                    </div>
                    <div>
                        votes
                    </div>
                </div>
                <div class="question-counter">
                    <div class="question-counter__count">
                        30
                    </div>
                    <div>
                        answers
                    </div>
                </div>
                <div class="question-counter">
                    <div class="question-counter__count">
                        20K
                    </div>
                    <div>
                        views
                    </div>
                </div>
            </div>

            <div class="d-inline-flex flex-column question-item__common" style="flex: 1;">
                <div>
                    <a href="{{ path('question_show', {id: question.id}) }}">{{ question.title }}</a>
                </div>
                <div class="d-flex tags">
                    <div class="">
                        <a href="#" class="btn btn-outline-secondary btn-tag">tag</a>
                    </div>
                    <div class="">
                        <a href="#" class="btn btn-outline-secondary btn-tag">egerg</a>
                    </div>
                    <div class="">
                        <a href="#" class="btn btn-outline-secondary btn-tag">ferh grerh</a>
                    </div>
                    <div class="">
                        <a href="#" class="btn btn-outline-secondary btn-tag">wfegreh</a>
                    </div>
                    <div class="">
                        <a href="#" class="btn btn-outline-secondary btn-tag">feht rgr</a>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <div class="question-item__info">
                        Project <a href="#">some project name</a>,
                        asked by <a href="#">{{ question.user.login }}</a> 10 mins ago
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        Вопросов не найдено
    {% endfor %}

    {% if questions.haveToPaginate %}
        <div class="catalog__pagination">
            {{ pagerfanta( questions, 'default', {
                routeName : 'index',
                prev_message : '<< ',
                next_message : ' >>',
                css_dots_class: 'js-filter-page catalog__page',
                css_current_class : 'js-filter-page catalog__page active',
                page_template : '<a class="js-filter-page catalog__page" href="%href%" %rel%>%text%</a>',
            })}}
        </div>

    {% endif %}
</div>
{% endblock %}
