{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% for key, question in questions %}
        <div style="background: black; color: white;margin-bottom: 20px;">
            <div>{{ question.id }}</div>
            <div><a href="{{ path('question_show', {id: question.id}) }}">{{ question.title }}</a></div>
            <div>{{ question.question }}</div>
            <div>{{ question.user.login }}</div>
        </div>
    {% else %}
        Вопросов не найдено
    {% endfor %}

    {% if questions.haveToPaginate %}
        <div class="catalog__pagination">
            {{ pagerfanta( questions, 'default', {
                routeName : 'index',
                prev_message : '<< ',
                next_message : ' >>',
                css_dots_class: 'js-filter-page catalog__page',
                css_current_class : 'js-filter-page catalog__page active',
                page_template : '<a class="js-filter-page catalog__page" href="%href%" %rel%>%text%</a>',
            })}}
        </div>

    {% endif %}
</div>
{% endblock %}
